.App {
  font-family: Montserrat,sans-serif;
  text-align: center;
}

.welcome {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50%;
  padding-bottom: 50%;
  font-size: 2.4vw;
}

.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 2.4vw;
}