#intro {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: white;
  font-weight: 400;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  text-align: left;

  .name-color {
    background-image: linear-gradient(135deg,#009FFD,#2a4772);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;

    @media (max-width:450px) {
      padding-left: 5px;
    }
  }

  .reveal {
    display:flex;

    @media (max-width:450px) {
      margin-left: 27%;
      margin-right: 18%;
      font-size: 18px;
    }
  }

  @media (max-width:450px) {
    text-align: center;
    font-size: 4.5rem;
    line-height: 2;
  }
}
  
.cta {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.cta--button {
  background-image: linear-gradient(135deg,#009FFD,#2a4772);
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg,#009FFD,#2a4772);
  border-image-slice: 1;
  cursor: pointer;

  &::after {
    background-image: linear-gradient(135deg,#009FFD,#2a4772);
  //   @include respond(phone) {
  //     background-image: none;
  //   }
  }

  &:hover {
    -webkit-text-fill-color: white;
    text-decoration: none;
    background-image: linear-gradient(135deg,#009FFD,#2a4772);

    &::after {
      width: 100%;
    }
  }
}